<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.0/dist/lumen/bootstrap.min.css">
    <link href="/static/styles.css" rel="stylesheet">
    {% block styles %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">UTRLOOKUP.COM</a>
          <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li> -->
            </ul>
            <form class="d-flex" role="search" action="/search">
              <input class="form-control me-2" type="search" name="query" placeholder="Player's name" aria-label="Search">
              <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    <main class="container-fluid text-center {% block classes %}{% endblock %}">{% block content %}{% endblock %}</main>
    <footer class="text-center bg-dark py-5 mt-4 text-light">
      <p>Contact: <a href="mailto: email@gmail.com">mail@gmail.com</a></p>
      <p>Disclaimer: This site is not owned or affiliated with Universal Tennis.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>