{% extends "base.html" %}
{% block styles %}
{% endblock %}
{% block classes %}px-0{% endblock %}
{% block content %}
    <div class="py-5">
        <h2>Instructions</h2>
        <ol class="steps"> 
          <li>Enter the player's name in the search bar at the top</li>
          <li>Press search, and voila...you find a UTR with decimals!</li>
        </ol>
    </div>
    <div>
      <h2>Notes</h2>
      <ul class="notes">
        <li>Bookmark this site for easy access</li>
        <li>Share this link with your friends</li>
      </ul>
    </div>
{% endblock %}
    